<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcommerceAPP">

        <!-- 1. SplashActivity: pantalla de inicio -->
        <activity android:name=".auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 2. pantalla login -->
        <activity android:name=".auth.LoginActivity"
            android:exported="false"/>
        <!-- 2.1 pantalla login fingerprint -->
        <activity android:name=".auth.FingerprintActivity"
            android:exported="false" />
        <!-- 2.2 pantalla login forgot password -->
        <activity android:name=".auth.ForgotPasswordActivity" />
        <!-- 2.3 pantalla login crear cuenta -->
        <activity android:name=".auth.CrearCuentaActivity" android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <!-- 3. admin dashboard -->
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="false"/>
        <!--3.1 admin clientes-->
        <activity android:name=".admin.ClientesActivity" android:exported="false"/>
        <activity android:name=".admin.AddUserActivity"  android:exported="false"/>
        <activity android:name=".admin.DetalleClienteActivity"  android:exported="false"/>
        <activity android:name=".admin.EditarUsuarioAdminActivity" android:exported="false"/>
        <activity android:name=".admin.OpcionesClienteActivity" android:exported="false"/>
        <!--3.2 admin productos-->
        <activity android:name=".admin.ProductosActivity"       android:exported="false"/>
        <activity android:name=".admin.DetalleProductoActivity"  android:exported="false"/>
        <activity android:name=".admin.AgregarProductoActivity"  android:exported="false"/>
        <activity android:name=".admin.AgregarProductoFotosActivity" android:exported="false"/>
        <!--3.3 admin pedidos-->
        <activity android:name=".admin.PedidosAdminActivity" />
        <activity android:name=".admin.DetallePeticionActivity" />
        <activity android:name=".admin.DetallePedidoAdminActivity" />

        <!--4. vendedor-->
        <activity
            android:name=".seller.SellersMainActivity"
            android:exported="false"/>
        <!--4.1 vendedor productos-->
        <activity android:name=".seller.ProductosSellerActivity" android:exported="false"/>
        <activity android:name=".seller.DetalleProductoSellerActivity" android:exported="false"/>
        <activity android:name=".seller.AgregarProductoSellerActivity" android:exported="false"/>
        <activity android:name=".seller.AgregarProductoFotosSellerActivity" android:exported="false"/>
        <!--4.2 vendedor pedidos-->
        <activity android:name=".seller.PedidosSellerActivity" />
        <activity android:name=".seller.DetallePedidoSellerActivity" />
        <!--4.3 vendedor clientes-->
        <activity android:name=".seller.ClientesSellerActivity" />
        <activity android:name=".seller.DetalleClienteSellerActivity" />

        <!--5. cliente-->
        <activity android:name=".client.ClientsMainActivity" android:exported="false"/>
        <!--5.1 cliente catalogo-->
        <activity android:name=".client.CatalogoActivity" android:exported="false"/>
        <!---5.2 cliente busqueda-->
        <activity android:name=".client.BusquedaActivity" android:exported="false"/>
        <!--5.3 cliente detalle producto-->
        <activity android:name=".client.DetalleProductoClienteActivity" android:exported="false"/>
        <!--5.4 cliente carrito-->
        <activity android:name=".client.CarritoActivity" android:exported="false"/>
        <!--5.5 cliente resumen compra-->
        <activity android:name=".client.ResumenCompraActivity" android:exported="false"/>
        <activity android:name=".client.PagoWebViewActivity" />
        <!--5.6 perfil-->
        <activity android:name=".ui.PerfilActivity" />
        <activity android:name=".ui.InformacionPersonalActivity" />
        <!--5.7 mis pedidos-->
        <activity android:name=".client.MisPedidosActivity" />
        <!--5.8 mi direccion-->
        <activity android:name=".client.MiDireccionActivity" />
        <!--5.9 mis datos de pago-->
        <activity android:name=".client.MisDatosPagoActivity" />
        <!--5.10 accesibilidad-->
        <activity android:name=".ui.AccesibilidadActivity" />
        <!--5.11 activar vendedor-->
        <activity android:name=".seller.ActivarVendedorActivity" />
        <!--5.12 eliminar cuenta-->
        <activity android:name=".ui.EliminarCuentaActivity" />
        <!--5.13 configuracion-->
        <activity android:name=".ui.ConfiguracionActivity" />
        <!---5.14 notificaciones-->
        <activity android:name=".ui.NotificacionesActivity" />
        <!---5.15 idioma-->
        <activity android:name=".ui.IdiomaActivity" />

    </application>

</manifest>