<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcommerceAPP">

        <!-- 1. SplashActivity: pantalla de inicio -->
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 2. pantalla login -->
        <activity android:name=".LoginActivity"
            android:exported="false"/>
        <!-- 2.1 pantalla login fingerprint -->
        <activity android:name=".FingerprintActivity"
            android:exported="false" />
        <!-- 2.2 pantalla login forgot password -->
        <activity android:name=".ForgotPasswordActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <!-- 3. admin dashboard -->
        <activity
            android:name=".AdminMainActivity"
            android:exported="false"/>
        <!--3.1 admin clientes-->
        <activity android:name=".ClientesActivity" android:exported="false"/>
        <activity android:name=".AddUserActivity"  android:exported="false"/>
        <activity android:name=".DetalleClienteActivity"  android:exported="false"/>
        <activity android:name=".OpcionesClienteActivity" android:exported="false"/>
        <!--3.2 admin productos-->
        <activity android:name=".ProductosActivity"       android:exported="false"/>
        <activity android:name=".DetalleProductoActivity"  android:exported="false"/>
        <activity android:name=".AgregarProductoActivity"  android:exported="false"/>
        <activity android:name=".AgregarProductoFotosActivity" android:exported="false"/>
        <!--3.3 admin pedidos-->
        <activity android:name=".PedidosAdminActivity" />
        <activity android:name=".DetallePeticionActivity" />
        <activity android:name=".DetallePedidoAdminActivity" />

        <!--4. vendedor-->
        <activity
            android:name=".SellersMainActivity"
            android:exported="false"/>
        <!--4.1 vendedor productos-->
        <activity android:name=".ProductosSellerActivity" android:exported="false"/>
        <activity android:name=".DetalleProductoSellerActivity" android:exported="false"/>
        <activity android:name=".AgregarProductoSellerActivity" android:exported="false"/>
        <activity android:name=".AgregarProductoFotosSellerActivity" android:exported="false"/>
        <!--4.2 vendedor pedidos-->
        <activity android:name=".PedidosSellerActivity" />
        <activity android:name=".DetallePedidoSellerActivity" />
        <!--4.3 vendedor clientes-->
        <activity android:name=".ClientesSellerActivity" />
        <activity android:name=".DetalleClienteSellerActivity" />

        <!--5. cliente-->
        <activity android:name=".ClientsMainActivity" android:exported="false"/>
        <!--5.1 cliente catalogo-->
        <activity android:name=".CatalogoActivity" android:exported="false"/>




    </application>

</manifest>